.header {
  width: 100%;
  text-align: center;
  padding: 5px 0;
  padding-bottom: 2em;
}
.header > h1 {
  font-size: 3em;
  font-weight: 500;
}
@media screen and (max-width: 500px) {
  .header > h1 {
    font-size: 2em;
    font-weight: 500;
  }
}
